[Unit]
Description=Kool monkey server.

After=syslog.target
After=network.target

[Service]
Type=simple

User=monkey
Group=monkey

ExecStart=/opt/kool_monkey/bin/kool-server -conf=/opt/kool_monkey/conf/kool-server.conf &

ExecStop=pkill kool-server

TimeoutSec=60

Restart=on-failure
RestartSec=60

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kool-server
SyslogFacility=local0

[Install]
WantedBy=multi-user.target
